PRODUCT_NAME = Live2D Preview
PRODUCT_BUNDLE_IDENTIFIER = org.huxerui.lib.live2d.preview
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1
IPHONEOS_DEPLOYMENT_TARGET = 15.0
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CLANG_CXX_LANGUAGE_STANDARD = c++20
ENABLE_BITCODE = NO
ENABLE_USER_SCRIPT_SANDBOXING = NO

HUXERUI_PROJECT_ROOT = $(PROJECT_DIR)/../..
HUXERUI_CORE_BUILD_DIR = $(DERIVED_FILE_DIR)/huxerui-core
HUXERUI_LINK_OPTIONS_FILE = $(HUXERUI_CORE_BUILD_DIR)/huxerui-ios/example_live2d/link.rsp
HEADER_SEARCH_PATHS = $(inherited) "$(HUXERUI_HOME)/include"
OTHER_LDFLAGS = $(inherited) @"$(HUXERUI_LINK_OPTIONS_FILE)"

#include? "Local.xcconfig"
